/*Apply styling that will override basic appearance*/
/*nb this example is Chrome only*/

input[type="range"] {
  -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

/*Styling the thumb in Chrome*/
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;

  height: 20px;
  width: 6px;
  border-radius: 999px;
  background: #ffffff;
  cursor: pointer;
  margin-top: -6px;
}

/*Styling the track in Chrome*/
input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 100%;
  cursor: pointer;
  background: rgb(252 185 32);
  border-radius: 6px;
}
